.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-color: #006b54;
}

.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.information label {
  font-size: 20px;
  font-weight: 700;
  color: #ffdf00;
}

.information input {
  width: 50%;
  font-size: 18px;
  padding-left: 8px;
  border-radius: 5px;
  margin-bottom: 25px;
}

button {
  margin-top: 20px;
  width: 30%;
  border: 2px solid #ffdf00;
  background-color: #ffdf00;
  border-radius: 5px;
  color: #006b54;
  cursor: pointer;
  font-weight: 700;
  padding-top: 5px;
  padding-bottom: 5px;
}

.information button:hover {
  cursor: pointer;
}

.dataShow {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.dataLayout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: #ffdf00 2px solid;
  border-radius: 5px;
  margin: 20px;
  padding: 5px;
  padding-right: 20px;
  width: 80vw;
}

.dataLayout h2 {
  margin: 15px;
}

.dataLayout h3 {
  margin: 15px;
  margin-top: 18px;
  /* width: 40vw; */
}

.dataLayout button {
  display: flex;
  justify-content: center;
  height: 30px;
  width: 55px;
}

.logoImage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoImage img {
  height: 12vh;
  margin-top: 3vh;
}

@media only screen and (max-width: 600px) {
  .dataLayout {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
